.qr-code-component {
  background-color: hsl(0, 0%, 100%);
  width: 90%;
  max-width: 23.70466666666667rem;
  padding: 1.066666666666667rem 1.066666666666667rem 2.4rem 1.066666666666667rem;
  border-radius: 1.6rem;
  margin: 0 auto;
}

.qr-code-component a {
  display: block;
  width: 100%;
}

.qr-code-component img {
  width: 100%;
  border-radius: 0.8rem;
}

.qr-code-component figcaption {
  padding: 0 0.8rem;
  text-align: center;
}

.qr-code-component figure h2 {
  font-size: 1.43333333rem;
  color: hsl(218, 44%, 22%);
  margin: 1.333333333333333rem 0;
}

.qr-code-component figure p {
  font-size: 1rem;
  color: hsl(220, 15%, 55%);
}